* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;               /* fixed height */
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 2rem;
    color: #333;
}

a {
    text-decoration: none;
    color: #adb5bd;
}

.sign-up-btn {
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #e7f2ff;
    color: #0077ff;
    font-weight: bold;
    cursor: pointer;
}

/* HERO SECTION */
.Hero-section {
    height: calc(100vh - 80px);  /*  no scroll */
    margin-top: 80px;            /* header offset */
    padding: 0 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.left h2 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    color: #5a5a5a;
}

span {
    color: #489dff;
}

.page-description {
    margin-top: 15px;
    font-size: 1.1rem;
    color: #adb5bd;
}

.service-btn {
    margin-top: 30px;
    padding: 16px 50px;
    border: none;
    background: #4297f8;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.content-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* Media queries to make our site MOBILE responsive */

@media (max-width: 768px) {

    .header {
        height: auto;
        padding: 15px;
        flex-direction: column;
        gap: 10px;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Hero-section {
        height: auto;
        margin-top: 120px;
        flex-direction: column;
        text-align: center;
        padding: 20px ;
    }

    .left, .right {
        width: 100%;
    }

    .left h2 {
        font-size: 2rem;
        line-height: 2.6rem;
    }

    .page-description {
        font-size: 1rem;
    }

    .content-img {
        max-width: 350px;
    }
}
